extends layout

block content

	h3 About
	p <strong>GeogrApp</strong> is a web application about Geography. It includes tests covering up 
		| all fields needed for basic knowledge in Geography. <br />
	p You can examine what you know about geography easily, by taking the tests yourself. 
		| The tests are divided into 5 categories: questions about Countries, Continents, Capitals, 
		| Mountains and Rivers. In addition to these, there is an extra category called "Revision", 
		| which has questions from all of the above categories.
	p We keep your personal statistics into a database. We assure you that we will not give 
		| your information to anyone, except he pays us a great deal of money. <br /><br /><br />

	p The GeogrApp project was written completely in JavaScript using:
		ul#used
			li: a(href="http://nodejs.org/", title="Node") the <em>Node.js</em> platform
			li: a(href="http://expressjs.com/", title="Express") the <em>Express.js</em> Web Application Framework
			li: a(href="http://jade-lang.com/", title="Jade") the <em>Jade</em> Node Template Engine
			li: a(href="http://lesscss.org/", title="Less") the <em>Less</em> CSS pre-processor
			li: a(href="http://getbootstrap.com/", title="Bootstrap") the <em>Bootstrap</em> Framework. <br /><br />

	p Also, instead of using conventional SQL databases, we used: 
		ul#used
			li: a(href="http://www.mongodb.org/", title="Mongo") <em>MongoDB</em>
		| which is an open-source NoSQL document database. MongoDB and Node.js are often used together 
		| because of their shared use of JavaScript and its object notation (JSON). 
		| JSON is quickly becoming the standard data format for web APIs and, as such, 
		| these two technologies are growing in popularity.
		| In order to use the data from our database, we used: 

		ul#used
			li: a(href="http://mongoosejs.com/", title="Mongoose") <em>Mongoose</em> 
		| which is an Object Data Modelling library. This means that Mongoose translates data in the
		|database to Javascript objects for use in the application. <br/><br/><br/><br/>




	p <em>This project was made by <b>Irene Pappa</b>. <br />
		| AM: P10100 <br />
		| Course: Educational Software <br />
		| Semester: 8th <br />
		| Professor: Virvou M. <br/>
		| Lecturer: Alepis E. <br />
		| Piraeus, July 2014 </em> <br />
