doctype html
html
	head
		title Welcome Stranger-until-I-recognize-you
		link(rel='stylesheet', href='libs/css/bootstrap.min.css')
		link(rel='stylesheet', href='styles/reg_log_styles.css', type="text/css")
	body
		block content
