extends layout

block content

	h3 Tests

	.container(style="margin-top: 40px;")
		a.category_option(href='/tests/countries') Countries
		a.category_option(href='/tests/capitals') Capitals
		a.category_option(href='/tests/continents') Continents
		a.category_option(href='/tests/rivers') Rivers
		a.category_option(href='/tests/mountains') Mountains
		a.category_option(href='/tests/revision') Revision Tests
	
	