extends layout

block content

	h3 Lesson 4: Mountains

	p A mountain is a large landform that stretches above the surrounding land in a limited area, 
		| usually in the form of a peak. A mountain is generally steeper than a hill. 
	p Mountains are formed through tectonic forces or volcanism. 
		| These forces can locally raise the surface of the earth. 
	p Mountains erode slowly through the action of rivers, weather conditions, and glaciers. 
		| A few mountains are isolated summits, but most occur in huge mountain ranges.
	
	p High elevations on mountains produce colder climates than at sea level. 
		| These colder climates strongly affect the ecosystem of mountains: different elevations have different plants and animals. 
	p Because of the less hospitable terrain and climate, mountains tend to be used less for agriculture 
		| and more for resource extraction and recreation, such as mountain climbing.

	p The highest mountain on Earth is Mount Everest in the Himalayas of Asia, 
		| whose summit is 8,849.868 m above mean sea level. 
		| The highest known mountain on any planet in the Solar System is Olympus Mons on Mars at 21,171 m.


	p There are three main types of mountains: volcanic, fold, and block. 
		| All three types are formed from plate tectonics: when portions of the Earth's crust move, 
		| crumple, and dive. Compressional forces, isostatic uplift and intrusion of igneous matter 
		| forces surface rock upward, creating a landform higher than the surrounding features. 

	p The height of the feature makes it either a hill or, if higher and steeper, a mountain. 
		| Major mountains tend to occur in long linear arcs, indicating tectonic plate boundaries and activity.<br/><br/>

	p The 10 highest mountains of the world are:<br/><br/>
		ol#mountains
			li: <b> Mount Everest </b><br/>
					img(src="http://cdn3.list25.com/wp-content/uploads/2012/11/everest.png")
					p Mount Everest or Qomolangma is the Earth’s highest mountain, with a peak at 8,848 metres 
						| above sea level. It is located in the Mahalangur section of the Himalayas. 
						| The international border between China and Nepal runs across the precise summit point.<br/><br/>
			li: <b> Aconcagua</b><br/>
					img(src="http://cdn.list25.com/wp-content/uploads/2012/11/Aconcagua.png")
					p Aconcagua is the highest mountain in the Americas at 6,960.8 m. 
						| It is located in the Andes mountain range, in the province of Mendoza, Argentina, 
						| and lies 112 kilometres west by north of its capital, the city of Mendoza.<br/><br/>
			li: <b> Mount McKinley</b><br/>
					img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/Mount-McKinley.png")
					p Mount McKinley, or Denali (Koyukon Athabaskan for “The High One”), in Alaska, 
						| is the highest mountain peak in the United States and in North America, with a summit 
						| elevation of (6,194 m) above sea level.<br/><br/>
			li: <b> Mount Kilimanjaro</b><br/>
					img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/800px-Mount_Kilimanjaro.png")
					p Kilimanjaro, with its three volcanic cones, Kibo, Mawenzi, and Shira, is a dormant 
						| volcanic mountain in Kilimanjaro National Park, Tanzania. It is the highest mountain 
						| in Africa at 5,895 metres above sea level.<br/><br/>
			li: <b> Pico Cristóbal Colón</b><br/>
					img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/pico.png")
					p Pico Cristóbal Colón is the highest mountain in Colombia, with an estimated height 
						| of 5,700 metres.<br/><br/>
			li: <b> Mount Logan</b><br/>
					img(src="http://cdn.list25.com/wp-content/uploads/2012/11/Mount-Logan.png")
					p Mount Logan is the highest mountain in Canada and the second-highest peak in North 
						| America, after Mount McKinley (Denali).<br/><br/>
			li: <b> Pico de Orizaba</b><br/>
					img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/Pico-de-Orizaba.png")
					p The Pico de Orizaba, or Citlaltépetl, is a stratovolcano, the highest mountain in 
						| Mexico and the third highest in North America. It rises 5,636 metres above sea level in 
						| the eastern end of the Trans-Mexican Volcanic Belt, on the border between the states 
						| of Veracruz and Puebla.<br/><br/>
			li: <b> Vinson Massif</b><br/>
					img(src="http://cdn.list25.com/wp-content/uploads/2012/11/Vinson-Massif.png")
					p Vinson Massif is the highest mountain of Antarctica, lying in the Sentinel Range of 
						| the Ellsworth Mountains, which stand above the Ronne Ice Shelf near the base of the 
						| Antarctic Peninsula.
			li: <b> Puncak Jaya</b><br/>
					img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/Puncak-Jaya.png")
					p Puncak Jaya or Carstensz Pyramid (4,884 m) is the highest summit of Mount Carstensz 
						| in the Sudirman Range of the western central highlands of Papua province, Indonesia.
			li: <b> Mount Elbrus</b><br/>
					img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/Mount-Elbrus.png")
					p Mount Elbrus is a dormant volcano located in the western Caucasus mountain range, 
						| in Kabardino-Balkaria and Karachay–Cherkessia, Russia, near the border of Georgia. 
						| Its peak is the highest in the Caucasus, in Russia.<br/><br/><br/>