extends layout

block content

	h3 Lesson 5: Rivers

	p A river is a natural watercourse, usually freshwater, flowing towards an ocean, a lake, 
		| a sea, or another river. 

	p In a rare cases a river could flow into the ground and dry up completely at the end 
		| of its course, without reaching another body of water.

	p Rivers are part of the hydrological cycle. Water generally collects in a river 
		| from precipitation through a drainage basin from surface runoff and other sources 
		| such as groundwater recharge, springs, and the release of stored water in natural ice 
		| and snowpacks (e.g. from glaciers). 

	p Potamology is the scientific study of rivers while limnology is the study of inland waters in general.<br/><br/>

	p The 10 longest rivers in the world are:<br/><br/>
		ol#rivers
			li: <b>Nile</b><br/>
				img(src= "http://cdn3.list25.com/wp-content/uploads/2012/11/Nile.png")
				p The Nile is a major north-flowing river in northeastern Africa, generally regarded 
					| as the longest river in the world. It is 6,650 km long and runs through the ten 
					| countries of Sudan, South Sudan, Burundi, Rwanda, Democratic Republic of the Congo, 
					| Tanzania, Kenya, Ethiopia, Uganda and Egypt.<br/><br/>
			li: <b>Amazon River</b><br/>
				img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/Amazon-River.png")
				p The Amazon River in South America is the second longest river in the world and by 
					| far the largest by water flow with an average discharge greater than the next seven 
					| largest rivers combined.<br/><br/>
			li: <b>Yangtze River</b><br/>
				img(src="http://cdn4.list25.com/wp-content/uploads/2012/11/Yangtze-River.png")
				p The Yangtze River, or Chang Jiang is the longest river in Asia, and the third longest 
					| in the world. It flows for 6,418 kilometres from the glaciers on the Qinghai-Tibet 
					| Plateau in Qinghai eastward across southwest, central and eastern China before 
					| emptying into the East China Sea at Shanghai.<br/><br/>
			li: <b>Mississippi River</b><br/>
				img(src="http://cdn.list25.com/wp-content/uploads/2012/11/Mississippi-River.png")
				p The Mississippi River is the chief river of the largest river system in North America. 
					| Flowing entirely in the United States (though its drainage basin reaches into Canada), 
					| it rises in northern Minnesota and meanders slowly southwards for 4,070 km to the 
					| Mississippi River Delta at the Gulf of Mexico. With its many tributaries, 
					| the Mississippi’s watershed drains all or parts of 31 US states and 2 Canadian provinces 
					| between the Rocky and Appalachian Mountains.<br/><br/>
			li: <b>Yenisei River</b><br/>
				img(src="http://cdn3.list25.com/wp-content/uploads/2012/11/Yenisei-River.png")
				p Yenisei, also written as Yenisey, is the largest river system flowing to the Arctic Ocean. 
					| Rising in Mongolia, it follows a northerly course to the Yenisei Gulf in the Kara Sea, 
					| draining a large part of central Siberia, the longest stream following the Yenisei-
					| Angara-Selenga-Ider river system.<br/><br/>
			li: <b>Yellow River</b><br/>
				img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/Yellow-River.png")
				p The Yellow River or Huang He, formerly spelled Hwang Ho, is the second-longest river 
					| in China after the Yangtze and the sixth-longest in the world at the estimated length 
					| of 5,464 kilometers.<br/><br/>
			li: <b>Ob River</b><br/>
				img(src="http://cdn4.list25.com/wp-content/uploads/2012/11/Ob-River.png")
				p The Ob River, also Obi, is a major river in western Siberia, Russia and is the world’s 
					| seventh longest river. It is the westernmost of the three great Siberian rivers that 
					| flow into the Arctic Ocean (the other two being the Yenisei River and the Lena River).<br/><br/>
			li: <b>Paraná River</b><br/>
				img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/Parana-River.png")
				p The Paraná River is a river in south Central South America, running through Brazil, 
					| Paraguay and Argentina for some 4,880 kilometres. It is second in length only to the 
					| Amazon River among South American rivers.<br/><br/>
			li: <b>Congo River</b><br/>
				img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/congo.png")
				p The Congo River (in the past also known as the Zaire River) is a river in Africa, 
					| and is the deepest river in the world, with measured depths in excess of 220 m. It 
					| is the third largest river in the world by volume of water discharged.<br/><br/>
			li: <b>Amur River</b><br/>
				img(src="http://cdn2.list25.com/wp-content/uploads/2012/11/Amur-River.png")
				p The Amur, or Heilong Jiang, is the world’s tenth longest river, forming the border 
					| between the Russian Far East and Northeastern China (Inner Manchuria).<br/><br/><br/>