extends layout

block content

	h3 Theory

	.container(style="margin-top: 40px;")
		a.category_option(href='/theory/intro') Lesson 1: Intro
		a.category_option(href='/theory/continents') Lesson 2: Continents
		a.category_option(href='/theory/countries-and-capitals') Lesson 3: Countries and Capitals
		a.category_option(href='/theory/mountains') Lesson 4: Mountains
		a.category_option(href='/theory/rivers') Lesson 5: Rivers