extends layout

block content

	h3 Lesson 1: Intro

	p Geography (from Greek γεωγραφία, geographia, lit. "earth description") is a field of science 
		| dedicated to the study of the lands, the features, the inhabitants, and the phenomena of the Earth. 
		| A literal translation would be "to describe or write about the Earth".

	p In these lessons we will focus on the basics of Geography. 
		| The aspects covered will be information about countries, capitals of each country, location of islands 
		| and countries on the continents, location of mountains and rivers on countries and continents.<br/><br/>

	p After taking the lessons, you can examine what you have learned by taking the tests provided in this app.