extends layout

block content

	h3 Lesson 3: Countries and Capitals

	p Below we present all countries with their capitals, separated by the continent they belong.


	h4 Africa
	p Africa is a continent consisting of 55 countries (including 1 disputed).<br/>
	ul#africa		
		li Algeria - Algie		
		li Angola - Luan		
		li Benin - Porto Novo, Coton		
		li Botswana - Gaborone
		li Burkina Faso - Ouagadougou
		li Burundi - Bujumbura
		li Cameroon (also spelled Cameroun) - Yaoundé
		li Cape Verde - Praia
		li Central African Republic - Bangui
		li Chad (Tchad) - N'Djamena
		li Comoros - Moroni		li Republic of the Congo - Brazzaville
		li Democratic Republic of the Congo - Kinshasa
		li Côte d'Ivoire (Ivory Coast) - Yamoussoukro
		li Djibouti - Djibouti
		li Egypt (Misr) - Cairo
		li Equatorial Guinea - Malabo
		li Eritrea - Asmara
		li Ethiopia (Itiopia) - Addis Ababa
		li Gabon - Libreville
		li The Gambia - Banjul
		li Ghana - Accra
		li Guinea - Conakry
		li Guinea-Bissau -
		li Kenya - Nairobi
		li Lesotho - Maseru
		li Liberia - Monrovia
		li Libya - Tripoli
		li Madagascar - Antananarivo
		li Malawi - Lilongwe
		li Mali - Bamako
		li Mauritania - Nouakchott
		li Mauritius - Port Louis
		li Morocco (Al Maghrib) - Rabat
		li Mozambique - Maputo
		li Namibia - Windhoek
		li Niger - Niamey
		li Nigeria - Abuja
		li Rwanda - Kigali
		li São Tomé and Príncipe - São Tomé
		li Senegal - Dakar
		li Seychelles - Victoria, Seychelles
		li Sierra Leone - Freetown
		li Somalia - Mogadishu
		li South Africa - Pretoria
		li South Sudan - Juba		li Sudan - Khartoum
		li Swaziland - Mbabane
		li Tanzania - Dar es Salaam, Dodoma
		li Togo - Lome
		li Tunisia - Tunis
		li Uganda - Kampala
		li Western Sahara *DISPUTED* - La'youn
		li Zambia - Lusaka
		li Zimbabwe - Harare

	h4 Asia
	p Asia is a continent consisting of 49 countries.

	ul#asia

		li Afghanistan - Kabul
		li Armenia - Yerevan
		li Azerbaijan - Baku
		li Bahrain - Manama
		li Bangladesh - Dhaka
		li Bhutan - Thimphu
		li Brunei - Bandar Seri Begawan
		li Cambodia (Kampuchea) - Phnom Penh
		li China, People's Republic of - Beijing
		li Taiwan (a.k.a. Republic Of China) - Taipei
		li East Timor (Timor Leste) - Dili
		li India (Hindi: Bharat) - New Delhi
		li Indonesia - Jakarta
		li Iran - Tehran
		li Iraq - Baghdad
		li Israel - Jerusalem
		li Palestine - Jerusalem
		li Japan (Nihon) - Tokyo
		li Jordan (Al Urdun) - Amman
		li Kazakhstan - Astana
		li Kuwait - Kuwait
		li Kyrgyzstan - Bishkek
		li Laos - Vientiane
		li Lebanon (Lubnan) - Beirut
		li Malaysia - Kuala Lumpur
		li Maldives - Malé
		li Mongolia - Ulaanbaatar
		li Myanmar (Burma) - Naypyidaw
		li Nepal - Kathmandu
		li North Korea - Pyongyang
		li Oman - Muscat
		li Pakistan - Islamabad
		li Philippines - Manila
		li Qatar - Doha
		li Russia (Россия) - Moscow
		li Saudi Arabia - Riyadh
		li Singapore - Singapore
		li South Korea - Seoul
		li Sri Lanka - Sri Jayawardenapura Kotte, not Colombo now
		li Syria - Damascus
		li Taiwan - Taipei
		li Tajikistan - Dushanbe
		li Thailand (Muang Thai) - Bangkok
		li Turkey - Ankara
		li Turkmenistan - Aşgabat
		li United Arab Emirates - Abu Dhabi		li Uzbekistan - Tashkent
		li Vietnam - Hanoi
		li Yemen - Sana'a

	h4 Europe
	p Europe is a continent consisting 47 countries.

	ul#europe

		li Albania (Shqipëria) - Tirana
		li Andorra - Andorra la Vella
		li Austria (Österreich) - Vienna
		li Belarus - Minsk
		li Belgium - Brussels
		li Bosnia and Herzegovina - Sarajevo
		li Bulgaria (България) - Sofia
		li Croatia (Hrvatska) - Zagreb
		li Cyprus (Kupros) - Nicosia
		li Czech Republic (Česko) - Prague
		li Denmark (Danmark) - Copenhagen*
		li Estonia (Eesti) - Tallinn
		li Finland (Suomi) - Helsinki
		li France - Paris
		li Georgia (საქართველ) - Tbilisi
		li Germany (Deutschland) - Berlin
		li Greece (Hellas) - Athens
		li Hungary (Magyarország) - Budapest
		li Iceland (Island) - Reykjavik
		li Republic of Ireland (Éire) - Dublin
		li Italy (Italia) - Rome
		li Latvia (Latvijas) - Riga
		li Liechtenstein - Vaduz
		li Lithuania (Lietuvos) - Vilnius
		li Luxembourg - Luxembourg City
		li (Former Yugoslav) Republic of Macedonia - Skopje
		li Malta - Valletta
		li Moldova - Chisinau
		li Monaco - Monaco
		li Montenegro (Crna Gora, Црна Гора) - Podgorica
		li Netherlands (Nederland) - Amsterdam (Capital), The Hague (Location of Government)
		li Norway (Norge) - Oslo
		li Poland (Polska) - Warsaw
		li Portugal - Lisbon
		li Romania (România) - Bucharest
		li Russia (Россия) - Moscow
		li San Marino - San Marino
		li Serbia (Србија) - Belgrade
		li Slovakia (Slovensko) - Bratislava
		li Slovenia (Slovenija) - Ljubljana
		li Spain (España) - Madrid
		li Sweden (Sverige) - Stockholm
		li Switzerland - Bern
		li Turkey - Ankara
		li Ukraine (Україна) - Kyiv or Kiev
		li United Kingdom - London
		li Vatican City - Vatican City

	h4 North America
	p North America constists of 3 countries:

	ul#north_america

		li United States - Washington DC
		li Mexico - Mexico City
		li Canada - Ottawa

	h4 Central America
	p Central America is a continent in the 6 continent system, consisting of 23 countries.

	ul#central_america

		li Antigua and Barbuda - St. John's
		li Bahamas - Nassau
		li Barbados - Bridgetown
		li Belize - Belmopan
		li Cayman Islands - George Town
		li Costa Rica - San José
		li Cuba - Havana
		li Dominica - Roseau
		li Dominican Republic (Republica Dominicana) - Santo Domingo
		li El Salvador - San Salvador
		li Grenada - St George's
		li Guatemala - Guatemala
		li Haiti - Port-au-Prince
		li Honduras - Tegucigalpa
		li Jamaica - Kingston, Jamaica
		li Nicaragua - Managua
		li Panama (Panamá) - Panama City
		li Puerto Rico - San Juan
		li Saint Kitts and Nevis - Basseterre
		li Saint Lucia - Castries
		li Saint Vincent and the Grenadines - Kingstown
		li Trinidad and Tobago - Port of Spain
		li Turks and Caicos - Cockburn Town

	h4 South America
	p South America constists of 13 countries.

	ul#south_america

		li Argentina - Buenos Aires
		li Bolivia - La Paz, Sucre.
		li Brazil (Brasil) - Brasília
		li Chile - Santiago
		li Colombia - Bogotá
		li Ecuador - Quito
		li French Guiana - Cayenne (part of France)
		li Guyana - Georgetown
		li Paraguay - Asuncion
		li Peru - Lima
		li Suriname - Paramaribo
		li Uruguay - Montevideo
		li Venezuela - Caracas

	h4 Oceania
	p Several terms are in use to describe the region comprising Australia and the nations 
		| of the Pacific Ocean. The term Oceania is usually preferred, and this is the term in 
		|use by the United Nations. The term Pacific Islands generally excludes the islands of New Zealand, 
		|and the continent of Australia. The indigenous Māori of New Zealand are a Polynesian people.
	p The 14 countries are:

	h4 Australia
	ul#australia
		li Australia - Canberra
		li New Zealand (Aotearoa) - Wellington

	h4 Melanesia
	ul#melanesia
		li Fiji - Suva
		li Papua New Guinea - Port Moresby
		li Solomon Islands - Honiara
		li Vanuatu - Port Vila

	h4 Micronesia
	ul#micronesia
		li Kiribati - South Tarawa
		li Marshall Islands - Majuro
		li Micronesia - Palikir
		li Nauru - Yaren
		li Palau - Koror

	h4 Polynesia
	ul#polynesia
		li Samoa - Apia
		li Tonga - Nuku'alofa
		li Tuvalu - Funafuti <br/><br/><br/>



